.cart {
  width: 150px;
  background: rgba(35, 37, 38, 1);
  position: sticky;
  border-radius: 24px;
  padding: 16px;
  display: flex;
  flex-direction: column;
}

.title {
  display: flex;
  flex-direction: column ;
  margin-bottom: 32px;
}

@media screen and (min-width: 901px){
  .cart {
    top: 140px;
  }

}

@media screen and (max-width: 900px) {
  .cart {
    position: fixed;
    bottom: 0 !important;
    left: 0;
    width: 100%;
    z-index: 1000;
    border-radius: 0;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .title {
    margin-bottom: 0;
  }
}
