.wrapper {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: white;
  border: 1px solid white;
  padding: 8px;
  border-radius: 4px;
}

.row {
  display: flex;
  align-items: center;
  max-width: 400px;
  gap: 8px;
}
