.wrapper {
  padding: 16px;
  display: flex;
  flex-direction: column;

}

.logo {
  font-family: 'Passion One', cursive;
  color: #F86600;
  font-weight: 400;
  font-size: 32px;
  line-height: 35.23px;
}

