.h1 {
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
  font-family: 'Helvetica', sans-serif;
  margin-top: 0;
  margin-bottom: 0;
}
.h2 {
  font-weight: 700;
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 32px;
  font-family: 'Helvetica', sans-serif;
}
.h3 {
  font-weight: 700;
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 24px;
  font-family: 'Helvetica', sans-serif;
}

.normal {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-family: 'Helvetica', sans-serif;
}

.underlined {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-decoration: underline;
  font-family: 'Helvetica', sans-serif;
}

.bold {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  font-family: 'Helvetica', sans-serif;
}

.boldUnderlined {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-decoration: underline;
  font-family: 'Helvetica', sans-serif;
}

.micro {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  font-family: 'Helvetica', sans-serif;
}

.small {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  font-family: 'Helvetica', sans-serif;
  color: rgba(227, 229, 229, 1);
}

.spaced {
  font-size: 11px;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: 1px;
  font-family: 'Helvetica', sans-serif;
}
